# Dependencies
node_modules/

# Environment variables
.env


# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
Template/

# Output files
output/*
!output/.gitkeep
